*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body{
    font-family:  sans-serif;
    background-color:  rgb(91, 190, 230);
}
.heading{
    margin-top: 50px;
    text-align: center;
}
.content{
    background-color: lightgray;
    width: 70%;
    height: 90vh;
    margin: 50px auto;
    text-align: center;
    padding: 60px 30px 50px 70px;
    border-radius: 10%;
}
.content div{
    margin: 0 auto 30px auto;
    width: 80%;
}
.content div h1{
    padding: 20px;
}
.feedback{
    text-align: left;
    line-height: 30px;
    padding-right: 20px;
}
.info{
    background-color: lightgray;
    margin: 50px auto;
    width: 80%;
    height: 100vh;
}
.info p{
    padding-top: 20px;
    text-align: center;
}